<!-- ============================================================== -->
<!-- Simple four boxes Row -->
<!-- ============================================================== -->
<div fxLayout="row wrap">
    <!-- column -->
    <div fxFlex.gt-sm="25" fxFlex.gt-xs="100" fxFlex="100">
        <mat-card>
            <mat-card-content>
                <!-- Row -->
                <div class="d-flex no-block">
                    <!-- column -->
                    <div class="m-r-10 no-shrink">
                        <button mat-fab mat-card-icon class="shadow-none bg-inverse  bg-success">
                            <mat-icon>account_circle</mat-icon>
                        </button>
                    </div>
                    <!-- column -->
                    <div>
                        <h3 class="m-0">386</h3>
                        <h6 class="text-muted m-0">New Clients</h6>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
    <!-- column -->
    <!-- column -->
    <div fxFlex.gt-sm="25" fxFlex.gt-xs="100" fxFlex="100">
        <mat-card>
            <mat-card-content>
                <!-- Row -->
                <div class="d-flex no-block">
                    <!-- column -->
                    <div class="m-r-10 no-shrink">
                        <button mat-fab color="warn" mat-card-icon class="shadow-none  bg-warning">
                            <mat-icon>local_mall</mat-icon>
                        </button>
                    </div>
                    <!-- column -->
                    <div>
                        <h3 class="m-0">2408</h3>
                        <h6 class="text-muted m-0">All Projects</h6>
                    </div>

                </div>
            </mat-card-content>
        </mat-card>
    </div>
    <!-- column -->
    <!-- column -->
    <div fxFlex.gt-sm="25" fxFlex.gt-xs="100" fxFlex="100">
        <mat-card>
            <mat-card-content>
                <!-- Row -->
                <div class="d-flex no-block">
                    <!-- column -->
                    <div class="m-r-10 no-shrink">
                        <button mat-fab color="accent" mat-card-icon class="shadow-none">
                            <mat-icon>stars</mat-icon>
                        </button>
                    </div>
                    <!-- column -->
                    <div>
                        <h3 class="m-0">352</h3>
                        <h6 class="text-muted m-0">New Items</h6>
                    </div>

                </div>
            </mat-card-content>
        </mat-card>
    </div>
    <!-- column -->
    <!-- column -->
    <div fxFlex.gt-sm="25" fxFlex.gt-xs="100" fxFlex="100">
        <mat-card>
            <mat-card-content>
                <!-- Row -->
                <div class="d-flex no-block">
                    <!-- column -->
                    <div class="m-r-10 no-shrink">
                        <button mat-fab color="warn" mat-card-icon class="shadow-none bg-danger">
                            <mat-icon>content_paste</mat-icon>
                        </button>
                    </div>
                    <!-- column -->
                    <div>
                        <h3 class="m-0">159</h3>
                        <h6 class="text-muted m-0">New Invoices</h6>
                    </div>

                </div>
            </mat-card-content>
        </mat-card>
    </div>
    <!-- column -->
</div>
<!-- ============================================================== -->
<!-- Charts -->
<!-- ============================================================== -->
<div fxLayout="row wrap">
    <!-- Column-->
    <div fxFlex.gt-lg="75" fxFlex.gt-md="60" fxFlex.gt-xs="100" fxFlex="100">
        <mat-card>
            <mat-card-content>
                <mat-card-title>Sales Overview</mat-card-title>
                <mat-card-subtitle>Ample Admin Vs Material Admin</mat-card-subtitle>
                <div id="chart">
                    <apx-chart [series]="chartOptions.series" [chart]="chartOptions.chart"
                        [dataLabels]="chartOptions.dataLabels" [plotOptions]="chartOptions.plotOptions"
                        [yaxis]="chartOptions.yaxis" [legend]="chartOptions.legend" [fill]="chartOptions.fill"
                        [stroke]="chartOptions.stroke" [tooltip]="chartOptions.tooltip" [xaxis]="chartOptions.xaxis"
                        [grid]="chartOptions.grid">
                    </apx-chart>
                </div>
                <!-- <div class="barchrt" style="height:360px;">
                    <x-chartist class="" [data]="barChart1.data" [type]="barChart1.type" [options]="barChart1.options"
                        [responsiveOptions]="barChart1.responsiveOptions" [events]="barChart1.events"> </x-chartist>
                </div> -->
                <ul class="list-inline text-center">
                    <li>
                        <h6 class="text-muted text-info m-0">
                            <i class="fa fa-circle font-10 m-r-10 "></i>Ample</h6>
                    </li>
                    <li>
                        <h6 class="text-muted  text-success  m-0">
                            <i class="fa fa-circle font-10 m-r-10"></i>Pixel</h6>
                    </li>
                </ul>
            </mat-card-content>
        </mat-card>
    </div>
    <!-- Column-->
    <div fxFlex.gt-lg="25" fxFlex.gt-md="40" fxFlex.gt-xs="100" fxFlex="100">
        <mat-card>
            <mat-card-content>
                <mat-card-title>Our Visitors</mat-card-title>
                <mat-card-subtitle>Different Devices Used to Visit</mat-card-subtitle>
                <div id="visitor-chart">
                    <apx-chart [series]="VisitorChartOptions.series" [chart]="VisitorChartOptions.chart"
                        [labels]="VisitorChartOptions.labels" [responsive]="VisitorChartOptions.responsive"
                        [tooltip]="VisitorChartOptions.tooltip" [legend]="VisitorChartOptions.legend"
                        [colors]="VisitorChartOptions.colors" [dataLabels]="VisitorChartOptions.dataLabels"
                        [plotOptions]="VisitorChartOptions.plotOptions" [stroke]="VisitorChartOptions.stroke">
                    </apx-chart>
                </div>
                <!-- <div class="piechart">
                    <x-chartist class="" [data]="donuteChart1.data" [type]="donuteChart1.type"
                        [options]="donuteChart1.options" [responsiveOptions]="donuteChart1.responsiveOptions"
                        [events]="donuteChart1.events"> </x-chartist>
                </div> -->
            </mat-card-content>
            <hr>
            <mat-card-content>
                <ul class="list-inline text-center">
                    <li>
                        <h6 class="text-muted text-success m-0">
                            <i class="fa fa-circle font-10 m-r-10 "></i>Mobile</h6>
                    </li>
                    <li>
                        <h6 class="text-muted  text-info  m-0">
                            <i class="fa fa-circle font-10 m-r-10"></i>Desktop</h6>
                    </li>
                    <li>
                        <h6 class="text-muted  text-purple  m-0">
                            <i class="fa fa-circle font-10 m-r-10"></i>Tablet</h6>
                    </li>
                </ul>
            </mat-card-content>
        </mat-card>
    </div>
    <!-- Column-->
</div>
<!-- ============================================================== -->
<!-- Chart boxes -->
<!-- ============================================================== -->
<div fxLayout="row wrap">
    <!-- column -->
    <div fxFlex.gt-sm="33.33" fxFlex.gt-xs="100" fxFlex="100">
        <mat-card class="bg-info">
            <mat-card-content>
                <!-- column -->
                <div class="d-flex no-block align-items-center">
                    <div class="stats">
                        <h3 class="text-white m-0">Purchase</h3>
                        <h6 class="text-white m-t-0">March 2017</h6>
                        <h1 class="text-white m-0">35487</h1>
                    </div>
                    <div class="ml-auto" style="height: 84px; width: 100px">
                        <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels"
                            [options]="barChartOptions" [colors]="barChartColors" [legend]="barChartLegend"
                            [chartType]="barChartType">
                        </canvas>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
    <!-- column -->
    <!-- column -->
    <div fxFlex.gt-sm="33.33" fxFlex.gt-xs="100" fxFlex="100">
        <mat-card class="bg-purple">
            <mat-card-content>
                <!-- column -->
                <div class="d-flex no-block align-items-center">
                    <div class="stats">
                        <h3 class="text-white m-0">Expense</h3>
                        <h6 class="text-white m-t-0">March 2017</h6>
                        <h1 class="text-white m-0">35487</h1>
                    </div>
                    <div class="ml-auto" style="height: 84px; width: 100px">
                        <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels"
                            [options]="barChartOptions" [colors]="barChartColors" [legend]="barChartLegend"
                            [chartType]="barChartType">
                        </canvas>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
    <!-- column -->
    <!-- column -->
    <div fxFlex.gt-sm="33.33" fxFlex.gt-xs="100" fxFlex="100">
        <mat-card class="bg-success">
            <mat-card-content>
                <!-- column -->
                <div class="d-flex no-block align-items-center">
                    <div class="stats">
                        <h3 class="text-white m-0">Income</h3>
                        <h6 class="text-white m-t-0">March 2017</h6>
                        <h1 class="text-white m-0">35487</h1>
                    </div>
                    <div class="ml-auto" style="height: 84px; width: 100px">
                        <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels"
                            [options]="barChartOptions" [colors]="barChartColors" [legend]="barChartLegend"
                            [chartType]="barChartType">
                        </canvas>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
    <!-- column -->

    <!-- column -->
</div>
<!-- ============================================================== -->
<!-- Image and chart -->
<!-- ============================================================== -->
<div fxLayout="row wrap">
    <!-- Column-->
    <!-- <div fxFlex.gt-lg="25" fxFlex.gt-md="40" fxFlex.gt-xs="100" fxFlex="100">
        <mat-card class="oh">
            <img mat-card-image src="assets/images/big/img1.jpg" style="max-height: 300px;" alt="Photo of a Shiba Inu">
            <mat-card-content>
                <p>
                    The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan. A
                    small, agile dog that copes
                    very well with mountainous terrain
                </p>
                <mat-card-actions>
                    <button mat-raised-button color="accent">LIKE</button>
                    <button mat-button>SHARE</button>
                </mat-card-actions>
            </mat-card-content>
        </mat-card>
    </div> -->
    <!-- Column-->
    <div fxFlex.gt-lg="75" fxFlex.gt-md="60" fxFlex.gt-xs="100" fxFlex="100">
        <mat-card>
            <mat-card-content>
                <mat-card-title>Newsletter Campaign</mat-card-title>
                <mat-card-subtitle>Overview of Newsletter Campaign</mat-card-subtitle>
                <div id="newsletter-chart">
                    <apx-chart [series]="newsletterchartOptions.series" [chart]="newsletterchartOptions.chart"
                        [xaxis]="newsletterchartOptions.xaxis" [stroke]="newsletterchartOptions.stroke"
                        [tooltip]="newsletterchartOptions.tooltip" [dataLabels]="newsletterchartOptions.dataLabels"
                        [legend]="newsletterchartOptions.legend" [colors]="newsletterchartOptions.colors"
                        [markers]="newsletterchartOptions.markers">
                    </apx-chart>
                </div>
                <!-- <div class="linearea" style="height:360px;">
                    <x-chartist class="" [data]="lineChart1.data" [type]="lineChart1.type"
                        [options]="lineChart1.options" [responsiveOptions]="lineChart1.responsiveOptions"
                        [events]="lineChart1.events"> </x-chartist>
                </div> -->
                <ul class="list-inline text-center p-t-10">
                    <li>
                        <h6 class="text-muted text-info m-0">
                            <i class="fa fa-circle font-10 m-r-10 "></i>Sent</h6>
                    </li>
                    <li>
                        <h6 class="text-muted  text-success  m-0">
                            <i class="fa fa-circle font-10 m-r-10"></i>Clicked</h6>
                    </li>
                </ul>
            </mat-card-content>
        </mat-card>
    </div>

</div>
<!-- ============================================================== -->
<!-- Image Card row-->
<!-- ============================================================== -->
<!-- <div fxLayout="row wrap"> -->
    <!-- Card column -->
    <!-- <div fxFlex.gt-lg="25" fxFlex.gt-md="40" fxFlex.gt-xs="100" fxFlex="100">
        <mat-card class="oh text-center little-profile">
            <img mat-card-image src="assets/images/background/profile-bg.jpg" alt="Photo of a Shiba Inu">
            <mat-card-content>
                <div class="pro-img">
                    <img src="assets/images/users/4.jpg" width="100" alt="user">
                </div>
                <h3 class="m-b-0">Angela Dominic</h3>
                <h6 class="m-t-0 ">Web Designer &amp; Developer</h6>
                <mat-card-actions>
                    <button mat-raised-button color="warn">Follow</button>
                </mat-card-actions>
                <div fxLayout="row" fxLayoutWrap="wrap" class="m-t-30">
                    <div fxFlex.gt-sm="33.33%" fxFlex.gt-xs="33.33%" fxFlex="100">
                        <h3 class="m-0 font-light">1099</h3>
                        <small>Articles</small>
                    </div>
                    <div fxFlex.gt-sm="33.33%" fxFlex.gt-xs="33.33%" fxFlex="100">
                        <h3 class="m-0 font-light">23,469</h3>
                        <small>Followers</small>
                    </div>
                    <div fxFlex.gt-sm="33.33%" fxFlex.gt-xs="33.33%" fxFlex="100">
                        <h3 class="m-0 font-light">6035</h3>
                        <small>Likes</small>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>
    </div> -->
    <!-- Card column -->
    <!-- Card column -->
    <!-- <div fxFlex.gt-lg="75" fxFlex.gt-md="60" fxFlex.gt-xs="100" fxFlex="100">
        <mat-card>
            <mat-tab-group> -->
                <!-- Tab 1 -->
                <!-- <mat-tab label="Activity">
                    <mat-card-content>
                        <div class="d-flex no-blcok" *ngFor="let mytimeline of mytimelines">
                            <div class="m-r-20">
                                <img class="img-circle" width="50" [src]="mytimeline.image"
                                    alt="Image of {{mytimeline.from}}"> </div>
                            <div class="m-b-30 w-100">
                                <h4 class="m-0">{{mytimeline.from}}
                                    <small class="text-muted">{{mytimeline.time}}</small>
                                </h4>
                                <p class="text-muted">{{mytimeline.content}}</p>
                                <div fxLayout="row wrap">
                                    <div fxFlex.gt-sm="20" fxFlex="100">
                                        <img class="img-responsive rounded" [src]="mytimeline.attachment"
                                            *ngIf="mytimeline.attachment" alt="Image of {{mytimeline.attachment}}">
                                    </div>
                                </div>
                                <button mat-raised-button color="{{mytimeline.buttons}}"
                                    *ngIf="mytimeline.buttons">Check Now</button>
                                <hr class="m-t-30" />
                            </div>
                        </div>

                    </mat-card-content>
                </mat-tab> -->
                <!-- End Tab 1 -->
                <!-- Tab 2 -->
                <!-- <mat-tab label="Profile">
                    <mat-card-content>
                        <mat-card-title>Form Basic Layouts</mat-card-title> -->
                        <!-- ============================================================== -->
                        <!-- column -->
                        <!-- ============================================================== -->
                        <!-- <form class="basic-form">
                            <div fxLayout="row wrap"> -->
                                <!-- column -->
                                <!-- <div fxFlex.gt-sm="100" fxFlex="100">
                                    <mat-form-field>
                                        <input matInput placeholder="Some text value">
                                    </mat-form-field>
                                </div> -->
                                <!-- column -->
                                <!-- <div fxFlex.gt-sm="100" fxFlex="100">
                                    <mat-form-field>
                                        <input matInput placeholder="EmailId" type="email">
                                    </mat-form-field>
                                </div> -->
                                <!-- column -->
                                <!-- <div fxFlex.gt-sm="100" fxFlex="100">
                                    <mat-form-field>
                                        <input matInput placeholder="Password" type="password">
                                    </mat-form-field>
                                </div> -->

                                <!-- column -->
                                <!-- <div fxFlex.gt-sm="100" fxFlex="100">
                                    <mat-form-field>
                                        <mat-select placeholder="Select">
                                            <mat-option value="option">Option</mat-option>
                                            <mat-option value="option">Option2</mat-option>
                                            <mat-option value="option">Option3</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div> -->

                                <!-- column -->
                                <!-- <div fxFlex.gt-sm="100" fxFlex="100">
                                    <mat-form-field>
                                        <textarea matInput placeholder="Textarea"></textarea>
                                    </mat-form-field>
                                </div> -->
                                <!-- column -->
                                <!-- <div fxFlex.gt-sm="100" fxFlex="100">
                                    <button mat-raised-button color="primary">Update Profile</button>
                                </div>
                            </div>
                        </form>
                    </mat-card-content>
                </mat-tab>
            </mat-tab-group>
        </mat-card>
    </div>
</div> -->