<div class="login-register" style="background-image:url(assets/images/background/login-register.jpg);">
    <div class="login-register-box">
        <div class="bg-info text-white m-b-10 text-center p-t-10 p-b-10 alert-box">
            <span class="m-r-10">Email : admin@email.com</span> |
            <span class="m-l-10">Password : adminEmail20</span>
        </div>
        <mat-card class="m-t-10">
        <mat-card-content>
            <form [formGroup]="form_login" (ngSubmit)="login($event)">
            <div class="text-center">
                <img alt="homepage" src="assets/images/logo-icon.png">
                <h4 class="m-t-0">Login to App</h4>
            </div>
            <div *ngIf="msg" class="bg-danger p-10 text-white">{{ msg }}</div>
            <div fxLayout="row wrap">
                <!-- col full-->
                <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
                    <mat-form-field>
                    <input matInput placeholder="Username" required="" formControlName="email">
                    </mat-form-field>
                    <mat-error *ngIf="email.hasError('email') && !email.hasError('required')">
                        wrong format of email
                    </mat-error>
                    <mat-error *ngIf="email.hasError('required')">
                        <section *ngIf="obs_keysErrors | async"><span
                                *ngFor="let key of obs_keysErrors | async">{{key.message}}</span></section>
                        email fild is <strong>Required</strong>
                    </mat-error>
                </div>
                <!-- col full-->
                <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
                    <mat-form-field>
                    <input matInput type="password" placeholder="Password" required="" formControlName="password">
                    </mat-form-field>
                    <mat-error *ngIf="password.hasError('minlength') && !password.hasError('required')">
                        Min of {{password.errors.minlength.requiredLength}} characters.
                    </mat-error>
                    <mat-error *ngIf="password.hasError('required')">
                        <section *ngIf="obs_keysErrors | async"><span
                                *ngFor="let key of obs_keysErrors | async">{{key.message}}</span></section>
                        password fild is <strong>Required</strong>
                    </mat-error>
                </div>
                <!-- col half-->
                <div fxFlex.gt-sm="50" fxFlex.gt-xs="50">
                    <mat-checkbox color="warn">Remember me</mat-checkbox>
                </div>
                <!-- col half-->
                <div fxFlex.gt-sm="50" fxFlex.gt-xs="50" class="text-right">
                    <a [routerLink]="['/authentication/forgot']" class="link">Forgot pwd?</a>
                </div>
                <!-- col full-->
                <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
                    <button mat-raised-button color="primary" class="btn-block btn-lg m-t-20 m-b-20" [disabled]="form_login.invalid" type="submit">Login</button>
                </div>
                <!-- col full-->
                <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100" class="text-center">
                    <span>Don't have an account?
                        <a [routerLink]="['/authentication/register']" class="text-info link">Register</a>
                    </span>
                </div>
            </div>
        </form>
        </mat-card-content>
        </mat-card>
    </div>
</div>